@use 'variables';
@use 'header';
@use 'hero';
@use 'plans';
@use 'devices';
@use 'originals';
@use 'faq';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variables.$bgColor;
    letter-spacing: .2px;
    line-height: 1.4;
}

@mixin text($fontSize: 18px) { 
    font-size: $fontSize;
    color: variables.$primaryTextColor;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize); 
    color: variables.$secondaryTextColor;
}

.text--lg {
    @include text(20px);

    @media (max-width: 768px) {
        @include text(16px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text--sm {
    @include text(12px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.title--lg {
    @include title(44px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variables.$secondaryTextColor;
    background-color: variables.$bgButtonPrimaryColor;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variables.$bgButtonPrimaryColor;
    cursor: pointer;

    &:hover {
        background-color: lighten(variables.$bgButtonPrimaryColor, 3%);
    }

    &--secondary {
        background-color: variables.$bgButtonSecondaryColor;
        border-color: variables.$bgButtonSecondaryColor;

        &:hover {
            background-color: lighten(variables.$bgButtonSecondaryColor, 3%);
        }
    }

    &--dark {
        background-color: rgba(variables.$bgButtonDark, 0.8);
        border-color: variables.$primaryTextColor;

        &:hover {
            background-color: variables.$secondaryTextColor;
            color: variables.$bgColor;
        }
    }
}